
<!doctype html>
<html>
<head>
  <title>App</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body    { padding-top:70px; }
  </style>
</head>
<body>
<div class="container">

  <div class="well">
    <h4>Authorized sucessfully</h4>
    <p>Our state is version: <code><%= state.version %></code>, number: <%= state.num %></p>
    <p>Logged in with <code><%= user.username %></code></p>
    <form method="get" action="/callapi">
    </form>
    <a href="/logout" class="btn btn-default">Logout</a>
  </div>

  <div>
    <form method="post" action='/app'>
      <div class="form-group">
        <label>API: (<%= host %>/api/)</label>
        <input type="text" class="form-control" name="api" value="<%= api %>" />
      </div>
      <div class="form-group">
        <label>method</label>
        <input type="text" class="form-control" name="method" value="<%= method %>" />
      </div>
        <div class="form-group">
        <label>request body</label>
        <input type="text" class="form-control" name="body">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">submit</button>
    </form>
    <hr />
    <% if (statusCode) { %>
      <p>status: <code><%= statusCode %></code></p>
      <pre><%= result %></pre>
    <% } %>
  </div>
</div>
</body>
</html>
